ul > li:nth-last-child(n+4),
ul > li:nth-last-child(n+4) ~ li {
  content: 'test';
}

ul > li:nth-last-child(n+4) a,
ul > li:nth-last-child(n+4) ~ li a {
  content: 'test';
}

ul li:nth-last-child(n+4),
ul li:nth-last-child(n+4) ~ li,
nav a:nth-last-child(n+4),
nav a:nth-last-child(n+4) ~ a {
  content: 'test';
}
