ul > li:nth-last-child(n+4), ul > li:nth-last-child(n+4) ~ li {
  content: 'test';
}

ul > li:nth-last-child(n+4), ul > li:nth-last-child(n+4) ~ * {
  content: 'test';
}

ul > li:nth-last-child(n+4), ul > li:nth-last-child(n+4) ~ li, nav > div:nth-last-child(n+4), nav > div:nth-last-child(n+4) ~ div {
  content: 'test';
}

ul > li:nth-last-child(n+4), ul > li:nth-last-child(n+4) ~ *, nav > div:nth-last-child(n+4), nav > div:nth-last-child(n+4) ~ * {
  content: 'test';
}
