ul > li:nth-last-child(n+4):nth-last-child(-n+6):first-child, ul > li:nth-last-child(n+4):nth-last-child(-n+6):first-child ~ li {
  content: 'test';
}

ul > li:nth-last-child(n+4):nth-last-child(-n+6):first-child, ul > li:nth-last-child(n+4):nth-last-child(-n+6):first-child ~ * {
  content: 'test';
}

ul > li:nth-last-child(n+4):nth-last-child(-n+6):first-child, ul > li:nth-last-child(n+4):nth-last-child(-n+6):first-child ~ li, nav > div:nth-last-child(n+4):nth-last-child(-n+6):first-child, nav > div:nth-last-child(n+4):nth-last-child(-n+6):first-child ~ div {
  content: 'test';
}

ul > li:nth-last-child(n+4):nth-last-child(-n+6):first-child, ul > li:nth-last-child(n+4):nth-last-child(-n+6):first-child ~ *, nav > div:nth-last-child(n+4):nth-last-child(-n+6):first-child, nav > div:nth-last-child(n+4):nth-last-child(-n+6):first-child ~ * {
  content: 'test';
}
