ul > li {
  @at-most 4 {
    content: 'test';
  }
}

ul > li {
  @at-most 4 * {
    content: 'test';
  }
}

ul > li,
nav > div {
  @at-most 4 {
    content: 'test';
  }
}

ul > li,
nav > div {
  @at-most 4 * {
    content: 'test';
  }
}
